.body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #970fcd, #f5e0f7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #b216d5;
    text-align: center;
    margin-bottom: 10px;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(226, 49, 235, 0.15);
    width: 400px;
}

h2 {
    text-align: left;
    font-size: 1rem;
    color: #353a4d;
}

h2 span {
    font-weight: 600;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #353a4d;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #87678a;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #8e44ad;
    outline: none;
}
/*grupo de checkbox y genero */
.radio-group,
.checkbox-group {
margin-top: 10px;
margin-left: 0;
padding: 10px 15px;
border: 2px solid #ccc;
transition: border-color 0.3s ease;
}
.radio-group{
    border-radius: 10px;
}
.radio-group label,
.checkbox-group label {
    display: block;
    color: #444444;
    margin-bottom: 5px;
    font-weight: normal;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #732d91;
}